<h1>List
<%= link_to "Edit", edit_board_list_path(@board, @list), class: "ui orange button" %>
<%= link_to "Delete", [@board, @list], method: :delete, class: "ui red button" %>
</h1>
<%= link_to "Cards", list_cards_path(@list) %>
